<div class="row">
    <div class="col-3" *ngFor="let item of restaurantList" >
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <img class="img-height" [src]="item.photoUrl"/>

                    </div>
                    <div class="col-9 text-end">
                        {{item.categoryName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                     {{item.retaruentName}}
                    </div>
                    <div class="col--4">
                       {{item.openingHours}} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
