<main id="main" class="main">
<div class="container">
  <h2>Purchase Gadgets</h2>
  <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control" required>
      <div class="invalid-feedback">Name is required.</div>
    </div>

    <div class="mb-3">
      <label for="generic" class="form-label">Gadgets Type:</label>
      <select id="generic" formControlName="generic" class="form-select" required>
        <option *ngFor="let gen of generic" [ngValue]="gen.name">{{gen.name}}</option>
      </select>
      <div class="invalid-feedback">Please select a gadgets.</div>
    </div>

    <div class="mb-3">
      <label for="manufacturer" class="form-label">Brand Name:</label>
      <select id="manufacturer" formControlName="manufacturer" class="form-select" required>
        <option *ngFor="let man of manufacturer" [ngValue]="man.name">{{man.name}}</option>
      </select>
      <div class="invalid-feedback">Please select a Brand</div>
    </div>

    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity:</label>
      <input type="number" id="quantity" formControlName="quantity" class="form-control"  (input)="calculateTotalPrice()">
      <div class="invalid-feedback">Quantity is required.</div>
    </div>

    <div class="mb-3">
      <label for="unitPrice" class="form-label">Unit Price:</label>
      <input type="number" id="unitPrice" formControlName="unitPrice" class="form-control" required>
      <div class="invalid-feedback">Unit price is required.</div>
    </div>

    <div class="mb-3">
      <label for="totalPrice" class="form-label">Total Price:</label>
      <input type="number" formControlName="totalPrice" class="form-control" required>
    </div>


    <div class="mb-3">
      <label for="productionDate" class="form-label">Purchase Date:</label>
      <input type="date" id="productionDate" formControlName="productionDate" class="form-control" required>
      <div class="invalid-feedback">Production date is required.</div>
    </div>

 
    <!-- <div class="mb-3">
      <label for="expiryDate" class="form-label">Warranty Date:</label>
      <input type="date" id="expiryDate" formControlName="expiryDate" class="form-control" required>
      <div class="invalid-feedback">Expiry date is required.</div>
    </div> -->

    <button type="submit" class="btn btn-primary" [disabled]="medicineForm.invalid">Add Gadgets</button>
  </form>
</div>

<div class="container mt-5">
  <h2>All Purchase</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Gadgets Type:</th>
        <th>Brand Name:</th>
        <th>Quantity:</th>
        <th>Unit Price:</th>
        <th>Total Price</th>
        <th>Purchase Date:</th>
        <!-- <th>Warranty Date:</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicine of medicine">
        <td>{{ medicine.name }}</td>
        <td>{{ medicine.generic?.name}}</td>
        <td>{{ medicine.manufacturer?.name}}</td>
        <td>{{ medicine.quantity}}</td>
        
        <td>{{ medicine.unitPrice}}</td>
        <td>{{ medicine.productionDate }}</td>
        <!-- <td>{{ medicine.expiryDate| date }}</td> -->
      </tr>
    </tbody>
  </table>
</div>

</main>
