<!-- Navbar -->
<nav class="navbar navbar-light bg-primary p-2">
  <h4 class="text-light">Student Management</h4>
  <div class="d-flex">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">New Student</button>
  </div>
</nav>

<!-- Table -->
<div class="container">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Roll</th>
        <th>Name</th>
        <th>Department</th>
        <th>Marks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of teacherData">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.department}}</td>
        <td>{{row.marks}}</td>
        <td>
          <button class="btn btn-warning mx-1" (click)="onEdite(row)" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Edit</button>
          <button class="btn btn-danger mx-1" (click)="deleteTeacher(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Form Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Student Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="formValue">
          <!-- Form Fields -->
          <div class="row">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>

          <div class="row">
            <div class="mb-3">
              <label class="form-label">Department</label>
              <select class="form-select" aria-label="Default select example" formControlName="department">
                <option selected>Open this select menu</option>
                <option value="Bangla">Bangla</option>
                <option value="English">English</option>
                <option value="Math">Math</option>
               
              </select>
            </div>
          </div>

          <div class="row">
            <div class="mb-3">
              <label class="form-label">Marks</label>
              <input type="text" class="form-control" formControlName="marks">
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" (click)="saveTeacher()">Save</button>
            <button type="button" class="btn btn-primary" (click)="TeacherEdit()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
